<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>GuestBook</title>
    <link rel="stylesheet" href="main.css" type="text/css">
  </head>
  <body>
    <h1>GuestBook</h1>
    <form action="/post", method="post">
      <p>Write something...</p>
      <table>
        <tr>
          <th>Name</th>
          <td>
            <input type="text" size="20" name="name" />
          </td>
        </tr>
        <tr>
          <th>Comment</th>
          <td>
            <textarea rows="5" cols="40" name="comment"></textarea>
          </td>
        </tr>
      </table>
      <p><button type="submit">Submit</button></p>
    </form>
    <div class="entries-area">
      <h2>Past posts</h2>
      <h3>Guest's post ( 2014/10/31 10:00:00 ):</h3>
      <p>
        What you wrote<br />
        What you wrote
      </p>
      <h3>Guest's post ( 2014/10/31 09:00:00 ):</h3>
      <p>
        What you wrote<br />
        What you wrote
      </p>
    </div>
  </body>
</html>
