<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>GuestBook</title>
    <link rel="stylesheet" href="/static/main.css" type="text/css">
  </head>
  <body>
    <h1>GuestBook</h1>
    <form action="/post", method="post">
      <p>Write something...</p>
      <table>
        <tr>
          <th>Name</th>
          <td>
            <input type="text" size="20" name="name" />
          </td>
        </tr>
        <tr>
          <th>Comment</th>
          <td>
            <textarea rows="5" cols="40" name="comment"></textarea>
          </td>
        </tr>
      </table>
      <p><button type="submit">Submit</button></p>
    </form>
    <div class="entries-area">
      <h2>Past posts</h2>
      {% for greeting in greeting_list %}
        <h3>{{ greeting.name }}'s Post {{ greeting.create_at|datetime_fmt }}</h3>
        <p>{{ greeting.comment|nl2br }}</p>
      {% endfor %}
    </div>
  </body>
</html>
